<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <h1>{{name}}</h1>
    </mat-card-title>
  </mat-card-header>
  <h2>🏗 Sitio en construcción 🚜</h2>
  <p>
    👷🏻‍♂️ Este portfolio está siendo remodelado 👷🏻‍♀️<br>
  </p>
  <a mat-stroked-button href="https://github.com/mayocca" target="_blank">
    <mat-icon fontIcon="code"></mat-icon> Visita mi perfil de GitHub
  </a>
  <a mat-stroked-button href="https://linkedin.com/in/mayocca" target="_blank">
    <mat-icon fontIcon="work"></mat-icon> Visita mi perfil de LinkedIn
  </a>
  <a mat-stroked-button href="mailto:matias@yocca.dev" target="_blank">
    <mat-icon fontIcon="email"></mat-icon> Envíame un mail a matias@yocca.dev
  </a>
</mat-card>
